body {
    margin             : 0;
    display            : flex;
    justify-content    : center;
    align-items        : center;
    min-height         : 100vh;
    text-align         : center;
    /* background-color: #333; */
}

.box {
    min-height      : 40vh;
    min-width       : 30vh;
    border-radius   : 10px;
    border          : 2px solid #333;
    background-color: rgb(109, 109, 109);
}

h1 {
    margin          : 0;
    margin-bottom   : .5rem;
    background-color: rgb(144, 151, 149);
    border          : 2px solid #333;
    border-radius   : 8px;
    opacity: 80%;
}

.input {
    margin-top: 40px;
    border       : 2px solid #333;
    border-radius: 8px;
    padding      : .25rem;
    width        : 7em;
}

select {
    margin-left  : .5rem;
    border       : 1px solid #333;
    border-radius: 4px;
}

.equals {
    font-weight: bold;
    font-size  : 2rem;
    margin-bottom: -40px;
}

.findMe {
    background-color: rgb(144, 151, 149);
    border          : 2px solid #333;
    border-radius   : 10px;
    width: 100px;
    margin-left: 40px;
    margin-top: 30px;
}

a {
    text-decoration: none;
    color: black;
}