body {
    margin             : 0;
    display            : flex;
    justify-content    : center;
    align-items        : center;
    min-height         : 100vh;
    text-align         : center;
    background-image: url("/img/background.jpg");
}

.box {
    min-height      : 40vh;
    min-width       : 30vh;
    border-radius   : 10px;
    border          : 1px solid #333;
    background-color: rgba(109, 109, 109,0.8);
    /* opacity: 70%; */
    padding: auto;
}

h1 {
    margin          : 0;
    margin-bottom   : .5rem;
    min-width       : 30vh;
    margin-top: -1px;
    padding-bottom: 2%;
    background-color: rgba(144, 151, 149,0.4);
    border          : 1px solid #333;
    border-radius   : 10px;
    /* opacity: 80%; */
}

.input {
    margin-top: 40px;
    border       : 1px solid #333;
    border-radius: 4px;
    padding      : .25rem;
    width        : 7em;
}

select {
    margin-left  : .5rem;
    border       : 1px solid #333;
    border-radius: 10px;
}

.equals {
    font-weight: bold;
    font-size  : 2rem;
    margin-bottom: -40px;
}

.findMe {
    background-color: rgba(144, 151, 149,0.8);
    border          : 1px solid #333;
    border-radius   : 100px;
    width: 100px;
    margin-left: 40px;
    margin-top: 30px;
}

a {
    text-decoration: none;
    color: black;
}